/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env

###############
#From githum gitignore

vendor/
node_modules/


# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

################
# Bluefish Editor

*~

# Vim probably
*.swp

# Images
#/public/img

